::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #000000;
  border: 1px solid white;
}

@font-face {
  font-family: exo;
  src: url("/media/Exo-VariableFont_wght.ttf");
}
@font-face {
  font-family: montesserat;
  src: url("/media/Montserrat-VariableFont_wght.ttf");
}
body {
  background: #ede791;
  background: radial-gradient(circle, #ede791 0%, #e2e2e2 100%);
  background-attachment: fixed;
  font-family: exo;
  overflow-x: hidden;
  padding: 0px;
  margin: 0.4em;
}

button {
  background-color: #00000064;
  margin-right: 2vw;
  border: none;
  border-radius: 6px;
  padding: 1em;
}

.button:hover {
  background-color: #202020;
  color: white;
}

.button:active {
  background-color: gold;
  color: black;
}

input {
  border-radius: 10px;
}

#statBox {
  display: flex;
  float: left;
}

#metaBox {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 20vw 18vw 14vw 10vw 18vw 20vw;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  width: 100vw;
}
#metaBox #damBox {
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 2em 2em;
}
#metaBox #damBox p {
  grid-column: 1;
  grid-row: 1;
}
#metaBox #damBox .labelImportant {
  font-weight: bold;
}
#metaBox #damBox .microCon {
  grid-row: 1;
  text-align: center;
}
#metaBox #damBox .microCon input {
  width: 2em;
  text-align: center;
}
#metaBox #tpContainer {
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 2em 2em;
}
#metaBox #tpContainer p {
  grid-column: 1;
  grid-row: 1;
}
#metaBox #tpContainer .labelImportant {
  font-weight: bold;
}
#metaBox #tpContainer .microCon {
  grid-row: 1;
  text-align: center;
}
#metaBox #tpContainer .microCon input {
  width: 2em;
  text-align: center;
}
#metaBox #determinationDiv {
  border-left: 1px solid black;
  padding-left: 10px;
  margin-left: 10px;
  text-align: center;
}
#metaBox #determinationDiv input {
  width: 2em;
  text-align: center;
}

#importBoxDiv {
  grid-column: 1;
  grid-row: 3;
}

#hRule {
  height: 20px;
  color: black;
  width: 100vw;
}

#sheet {
  grid-template-columns: 40% 60%;
  grid-template-rows: 10vh 95vh;
  display: grid;
}
#sheet #auxCounter {
  float: right;
  width: 20vw;
  font-size: 1.5em;
  grid-column: 6;
}
#sheet #charnameBox {
  font-weight: bold;
  width: 20vw;
  float: left;
  padding-right: 0.5em;
}
#sheet #charName {
  font-family: montesserat;
}
#sheet #hpBox {
  width: 5em;
  font-weight: bold;
  text-align: center;
  float: left;
}
#sheet #hpBox #charHP {
  width: 2em;
  text-align: center;
}
#sheet #armorBox {
  font-weight: bold;
  width: 5em;
  text-align: center;
  float: left;
}
#sheet #armorBox #charArmor {
  width: 2em;
  text-align: center;
}
#sheet hr {
  width: 100vw !important;
  margin-top: 1em;
  color: #00000000;
  visibility: hidden;
}

#toolBox {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 10px;
}

#exportButton {
  width: 10em;
  height: 2em;
  background-color: green;
  color: white;
}

#importButton {
  background-color: blue;
  color: white;
}

.imp_exp_button {
  padding: 0px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
  width: 5em;
  height: 2em;
}

#scienceType {
  width: 50%;
}

#ScienceSuDiv {
  display: inline;
}
#ScienceSuDiv #selerSu9 {
  float: left;
}
#ScienceSuDiv #scienceLabel {
  width: 30vw !important;
  font-size: 1.5em;
}
#ScienceSuDiv #scienceTypelabel {
  padding: 0px;
  margin: 0px !important;
}
#ScienceSuDiv #scienceType {
  margin-left: 0.2em;
  border-radius: 10px;
}

.inputlabel {
  font-weight: bold;
}

#charData {
  padding: 0px !important;
  margin: 0px !important;
  padding-top: 1em !important;
  float: left;
  display: grid;
  grid-column: 2;
  grid-row: 2;
  font-size: 1em;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5vh 27vh 27vh 27vh 27vh;
}
#charData .dataItemSpec p {
  text-align: center;
  color: white;
  padding-top: 0.2em;
  margin: 0px;
  padding-top: none !important;
  padding-bottom: none !important;
  margin: none !important;
  grid-column: 1;
  grid-row: 1;
  height: 1em;
}
#charData .dataItemSpec .KnowledgeClass {
  width: 95%;
  margin: 0.2em;
  font-family: montesserat;
}
#charData .dataItemSpec .OccupationClass {
  width: 95%;
  margin: 0.2em;
  font-family: montesserat;
}
#charData .dataItem {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 25% 25%;
  height: 3.7em;
  margin-top: 0.3em;
  background-color: #34a853;
  border-right: 3px solid white;
  border-radius: 10px;
}
#charData .dataItem p {
  text-align: center;
  color: white;
  padding-top: 0.2em;
  margin: 0px;
  padding-top: none !important;
  padding-bottom: none !important;
  margin: none !important;
  grid-column: 1;
  grid-row: 1;
  height: 1em;
}
#charData .dataItem .input {
  font-size: 0.9em;
  background-color: white;
  color: black;
  appearance: none;
  border: 1px solid black;
  resize: none;
  border-radius: 10px;
  grid-column: 2;
  grid-row-start: 1 !important;
  grid-row-end: span 3 !important;
  font-family: montesserat;
}
#charData .dataItem .inputpre {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  font-family: montesserat;
}
#charData .dataItem .OccupationClass {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 3;
}
#charData .dataItem .KnowledgeClass {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 3;
}
#charData .dataItemTitle {
  display: flex;
  width: 100%;
}
#charData .dataItemTitle p {
  width: 30%;
}
#charData .housing {
  display: inline;
  grid-column: 3;
}
#charData .housing .housingTitle {
  padding: 0px;
  margin: 0px;
}
#charData #charTitle {
  grid-column: 1;
  grid-row: 1;
}
#charData #rankDiv {
  grid-column: 2;
  grid-row: 1;
}
#charData #OccupationhouseDiv {
  grid-column: 2;
  grid-row-start: 2;
}
#charData #FeaturehouseDiv {
  grid-column: 1;
  grid-row-start: 2;
}
#charData #TechniquehouseDiv {
  grid-column: 1;
  grid-row-start: 3;
}
#charData #KnowledgehouseDiv {
  grid-column: 2;
  grid-row-start: 2;
}
#charData #SpecialhouseDiv {
  grid-column: 1;
  grid-row-start: 4;
}

.label {
  font-weight: bold;
}

#stats {
  grid-column: 1;
  grid-row: 2;
  height: 100vh;
}
#stats .offenseSub {
  background-color: #a61c00;
  font-family: exo;
}
#stats .defenseSub {
  background-color: #3c78d8;
  font-family: exo;
}
#stats .supportSub {
  background-color: #f1c232;
  font-family: exo;
}
#stats .subGrid {
  width: 13vw;
  margin: 0px;
  padding: 0px;
  float: left;
  text-align: center;
}
#stats .subGrid div {
  border-radius: 10px;
  height: 5.5vh;
  margin-bottom: 1em;
  margin-right: 0.5em;
  display: block;
  text-align: center;
}
#stats .subGrid div p {
  background-color: rgba(0, 0, 0, 0.832);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0.2em !important;
  margin-top: 0.2em !important;
  font-size: 0.9em;
  font-weight: bold;
}
#stats .subGrid div .seler {
  appearance: none;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px;
  margin: 0px;
  background-color: white(0, 0, 0, 0.208);
  color: black;
  font-size: 1em;
  font-weight: bold;
  border: none;
  text-align: center;
}

#footer {
  width: 100vw !important;
  text-align: center;
  display: block;
  float: right;
}

.featDiv {
  margin-top: 40px;
  width: 15vw;
  padding: 10px;
  text-align: center;
  display: block;
  float: left;
  background-color: gray;
}
.featDiv input {
  width: 13vw;
}

.fInfo {
  height: 400px !important;
  width: 14vw textarea;
}

.fName {
  width: 100%;
  font-size: 0.7em;
}

.featDivAlt {
  margin-top: 40px;
  width: 15vw;
  padding: 10px;
  text-align: center;
  display: block;
  float: left;
  background-color: green;
}
.featDivAlt input {
  width: 13vw;
}

.featDivStory {
  background-color: red;
  text-align: center;
}

.featDivStoryAlt {
  background-color: orange;
  text-align: center;
}

#content {
  text-align: left;
}

#dm_tools {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  margin-top: 1em;
  color: white;
  font-size: 1em;
}
#dm_tools p {
  margin-top: 1em;
  margin-bottom: 0px;
  padding-top: 0px;
}
#dm_tools textarea {
  border-radius: 10px;
}
#dm_tools #players {
  background-color: rgba(0, 0, 255, 0.253);
  text-align: center;
  overflow-x: auto;
  display: flex;
  height: 17em;
  width: 100vw;
}
#dm_tools #players .playerDiv {
  flex: 1 0 auto;
  width: 18em !important;
  height: 15em;
  overflow-x: auto;
  margin-right: 0.5em;
  margin-bottom: 0px;
  margin-top: 0.6em;
  margin-left: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.507);
}
#dm_tools #players .playerDiv input {
  width: 90%;
}
#dm_tools #players .playerDiv textarea {
  width: 90%;
  height: 10em;
  resize: none;
}
#dm_tools #enemies {
  background-color: rgba(255, 0, 0, 0.253);
  text-align: center;
  overflow-x: auto;
  display: flex;
  width: 100vw;
  height: 25em;
}
#dm_tools #enemies .enemyDiv {
  flex: 1 0 auto;
  display: inline-block;
  width: 18em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.6em;
  padding-bottom: 0.5em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.507);
  overflow-y: scroll;
}
#dm_tools #enemies input {
  width: 90%;
}
#dm_tools #enemies textarea {
  width: 90%;
  height: 10em;
  resize: none;
}
#dm_tools #initModule {
  background-color: rgba(115, 255, 0, 0.253);
  text-align: center;
  overflow-x: auto;
  display: flex;
  width: 100vw;
  height: 10em;
}
#dm_tools #initModule div {
  margin-right: 1em;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.316);
  width: 15em;
}
#dm_tools #initModule input {
  width: 15em;
}